nodered/data/flows.json
[
    {
        "id": "a96d4833ffbddb17",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6666dab790f11a0b",
        "type": "mqtt-broker",
        "name": "mosquitto ",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "440ef36e159098f7",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "b9738893e9328d6f",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "258c3f92156faaa6",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "a1958f6db03a95a4",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "b9738893e9328d6f",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "258c3f92156faaa6",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": "false"
    },
    {
        "id": "0c4ba6dddde756bd",
        "type": "ui-group",
        "name": "Group 1",
        "page": "a1958f6db03a95a4",
        "width": "9",
        "height": "6",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ea021c09aca6e415",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.204.1.95",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "440ba1b0ac42c310",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.20.10.2",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7b902f666d89bb1c",
        "type": "mqtt in",
        "z": "a96d4833ffbddb17",
        "name": "MQTT Sub SmartShirt",
        "topic": "unisadiem/smartshirt/+/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6666dab790f11a0b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 280,
        "wires": [
            [
                "a301bca279103dce",
                "8fea8a2681a8dc01"
            ]
        ]
    },
    {
        "id": "a301bca279103dce",
        "type": "debug",
        "z": "a96d4833ffbddb17",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 140,
        "wires": []
    },
    {
        "id": "8fea8a2681a8dc01",
        "type": "function",
        "z": "a96d4833ffbddb17",
        "name": "Estrazione ID Maglietta e Splitting Waveform",
        "func": "var parts = msg.topic.split('/');\nvar shirtId = parts[2];\nvar messageType = parts[3];\n\nvar payload;\nif (typeof msg.payload === 'string') {\n    try {\n        payload = JSON.parse(msg.payload);\n    } catch(e) {\n        node.error('Failed to parse JSON: ' + e.message);\n        return null;\n    }\n} else {\n    payload = msg.payload;\n}\n\nif (!payload) return null;\n\nvar points = [];\nvar baseTime = Date.now();\n\nif (messageType === 'ECG') {\n    // 1. High frequency biometric wave\n    points.push({\n        measurement: 'biometric_waves',\n        tags: { shirt_id: shirtId, data_type: 'ECG' },\n        fields: {\n            samples: JSON.stringify(payload.samples || []),\n            frequency: payload.frequency || 128,\n            sampling_frequency: payload.frequency || 128,\n            samplenum: payload.samplenum || 0\n        },\n        timestamp: baseTime\n    });\n    // 2. Low frequency vitals summary\n    if (payload.heartrate !== undefined) {\n        points.push({\n            measurement: 'vitals_summary',\n            tags: { shirt_id: shirtId, data_type: 'ECG' },\n            fields: { heartrate: payload.heartrate },\n            timestamp: baseTime\n        });\n    }\n\n} else if (messageType === 'ACC_GYRO') {\n    // 1. High frequency biometric wave\n    points.push({\n        measurement: 'biometric_waves',\n        tags: { shirt_id: shirtId, data_type: 'ACC_GYRO' },\n        fields: {\n            samples: JSON.stringify(payload.samples || []),\n            frequency: payload.sampling_frequency || 3,\n            sampling_frequency: payload.sampling_frequency || 3,\n            samplenum: payload.samplenum || 0\n        },\n        timestamp: baseTime\n    });\n    // 2. Low frequency vitals summary\n    if (payload.orientation !== undefined) {\n        points.push({\n            measurement: 'vitals_summary',\n            tags: { shirt_id: shirtId, data_type: 'ACC_GYRO' },\n            fields: { orientation: payload.orientation },\n            timestamp: baseTime\n        });\n    }\n\n} else if (messageType === 'STRAINGAUGES_MIXED') {\n    // 1. High frequency biometric wave\n    var freq = 1000 / (payload.sample_period_press || 75);\n    points.push({\n        measurement: 'biometric_waves',\n        tags: { shirt_id: shirtId, data_type: 'STRAINGAUGES_MIXED' },\n        fields: {\n            samples: JSON.stringify(payload.samples_1 || []),\n            frequency: freq,\n            sampling_frequency: freq,\n            samplenum: payload.samplenum || 0\n        },\n        timestamp: baseTime\n    });\n    // 2. Low frequency vitals summary\n    if (payload.breathrate !== undefined) {\n        points.push({\n            measurement: 'vitals_summary',\n            tags: { shirt_id: shirtId, data_type: 'STRAINGAUGES_MIXED' },\n            fields: { breathrate: payload.breathrate },\n            timestamp: baseTime\n        });\n    }\n\n} else if (messageType === 'BABY_ORIENTATION') {\n    points.push({\n        measurement: 'vitals_summary',\n        tags: { shirt_id: shirtId, data_type: 'BABY_ORIENTATION' },\n        fields: { orientation: payload.orientation || 0 },\n        timestamp: baseTime\n    });\n\n} else if (messageType === 'TemperatureNTC' || messageType === 'TEMPERATURE') {\n    var tempVal = NaN;\n    if (typeof payload === 'number') {\n        tempVal = payload;\n    } else if (typeof payload === 'string') {\n        tempVal = parseFloat(payload);\n    } else if (payload && typeof payload === 'object') {\n        var val = payload.temperature !== undefined ? payload.temperature : payload.value;\n        if (val !== undefined) {\n            tempVal = parseFloat(val);\n        }\n    }\n\n    // Salva il dato in InfluxDB solo se \u00e8 valido (maggiore di 0 e minore o uguale a 60)\n    if (!isNaN(tempVal) && tempVal > 0 && tempVal <= 60) {\n        points.push({\n            measurement: 'vitals_summary',\n            tags: { shirt_id: shirtId, data_type: 'TEMPERATURE' }, // Mantengo 'TEMPERATURE' per InfluxDB/Grafana\n            fields: { temperature: tempVal },\n            timestamp: baseTime\n        });\n    }\n\n} else if (messageType === 'R2R') {\n    if (payload.heartrate !== undefined) {\n        points.push({\n            measurement: 'vitals_summary',\n            tags: { shirt_id: shirtId, data_type: 'R2R' },\n            fields: { heartrate: payload.heartrate },\n            timestamp: baseTime\n        });\n    }\n\n} else if (messageType === 'BREATH_ANNOTATION') {\n    if (payload.breathrate !== undefined) {\n        points.push({\n            measurement: 'vitals_summary',\n            tags: { shirt_id: shirtId, data_type: 'BREATH_ANNOTATION' },\n            fields: { breathrate: payload.breathrate },\n            timestamp: baseTime\n        });\n    }\n\n} else if (messageType === 'BATTERY_INFO') {\n    points.push({\n        measurement: 'device_diagnostics',\n        tags: { shirt_id: shirtId, data_type: 'BATTERY_INFO' },\n        fields: {\n            state_of_charge: payload.state_of_charge !== undefined ? payload.state_of_charge : 0,\n            voltage: payload.voltage || 0,\n            charging: payload.charging !== undefined ? payload.charging : 0\n        },\n        timestamp: baseTime\n    });\n\n} else if (messageType === 'FLASH_INFO') {\n    points.push({\n        measurement: 'device_diagnostics',\n        tags: { shirt_id: shirtId, data_type: 'FLASH_INFO' },\n        fields: {\n            flash_pointer: payload.pointer || 0,\n            flash_status: payload.status || 0\n        },\n        timestamp: baseTime\n    });\n\n} else if (messageType === 'SYSTEM_INFO') {\n    points.push({\n        measurement: 'device_diagnostics',\n        tags: { shirt_id: shirtId, data_type: 'SYSTEM_INFO' },\n        fields: {\n            system_demo: payload.demo || 0,\n            system_pressure: payload.pressure || 0,\n            system_ecg: payload.ecg || 0,\n            system_orientation: payload.orientation || 0,\n            system_ecg_frequency: payload.ecg_frequency || 0,\n            system_accelerometer: payload.accelerometer || 0,\n            system_led_mode: payload.led_mode || 0,\n            system_temperature: payload.temperature || 0,\n            system_r2r: payload.r2r || 0,\n            system_sampleperiod: payload.sampleperiod || 0,\n            system_battery: payload.battery || 0,\n            system_mems_mode: payload.mems_mode || 0,\n            system_bio: payload.bio || 0\n        },\n        timestamp: baseTime\n    });\n\n} else if (messageType === 'FIRMWARE_VERSION') {\n    points.push({\n        measurement: 'device_diagnostics',\n        tags: { shirt_id: shirtId, data_type: 'FIRMWARE_VERSION' },\n        fields: {\n            fw_major: payload.major || 0,\n            fw_minor: payload.minor || 0,\n            fw_revision: payload.revision || 0,\n            fw_bootloader_major: payload.bootloader_major || 0,\n            fw_bootloader_minor: payload.bootloader_minor || 0,\n            fw_bootloader_revision: payload.bootloader_revision || 0,\n            fw_hardware: payload.hardware || 0\n        },\n        timestamp: baseTime\n    });\n}\n\nif (points.length > 0) {\n    msg.payload = points;\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 280,
        "wires": [
            [
                "6e6ea061f00fe1d8"
            ]
        ]
    },
    {
        "id": "6e6ea061f00fe1d8",
        "type": "influxdb batch",
        "z": "a96d4833ffbddb17",
        "influxdb": "440ef36e159098f7",
        "precision": "",
        "retentionPolicy": "",
        "name": "Collegamento Bucket babyguard",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "iomt-lab",
        "bucket": "babyguard_bucket",
        "x": 870,
        "y": 280,
        "wires": []
    }
]